.button-container {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    font-family: Roboto;

    &:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
        transform: scale(1.1);
    }

    &.google-sign-in {
        background-color: #fff;
        color: #000;
        box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.14);

        &:hover {
            background-color: #4285F4;
            color: #ffff;
            border: none;
        }
    }

    &.facebook-sign-in {
        background-color: #0572E6;
        color: white;

        &:hover {
            background-color: #004dc9;
            border: none;
        }
    }

    &.inverted {
        background-color: white;
        color: black;
        border: 1px solid black;

        &:hover {
            background-color: black;
            color: white;
            border: none;
        }
    }
}