.cart-icon-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    .item-count {
        position: absolute;
        font-size: 10px;
        font-weight: bold;
        bottom: 15px;
        right: 5px;
        color: #fff;
        background: #1976D2;
        width: 13px;
        height: 17px;
        border-radius: 50%;
    }
}