.cart-icon-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #929292;

    .item-count {
        position: absolute;
        font-size: 10px;
        font-weight: bold;
        bottom: 15px;
        right: 4px;
        color: #fff;
        background: #BDBDBD;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}