.empty-message {
    font-size: 20px;
    text-align: center;
    margin: 40px 0;

    .empty-icon {
        width: 70%;
        display: block;
        margin: 0 auto;
    }
}

button {
    margin: auto;
}